body {
    background-color: #f6f9fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

canvas {
    margin: 10px 0 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    background-color: white;
}

.label {
    color: rgb(109, 109, 109);
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.range {
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    outline: 0;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.controls > button {
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 0px;
    padding: 5px 7px;
    margin: 0 3px;
    min-width: 50px;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid rgb(142, 142, 147);
    color: rgb(142, 142, 147);
    font-size: 14px;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.controls > button:active {
    transform: scale(0.95);
}

.colors {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.color {
    height: 50px;
    width: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
}

@media (max-width: 700px) {
    body > * {
        margin: 0;
    }

    canvas {
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .lineWidth {
        position: fixed;
        bottom: 115px;
        left: 50%;
        transform: translateX(-50%);
    }

    .controls {
        position: fixed;
        bottom: 65px;
        left: 0;
        width: 100%;
    }

    .colors {
        position: fixed;
        bottom: 5px;
        left: 0;
        width: 100%;
    }
}
